.about-section{
    position: relative;
    padding-bottom: clamp(48px, 4.8077vw, 80px);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(32px, 2.4038vw, 40px);
        align-items: center;

        .main-text{
            &:nth-child(2){
                @include mobile{
                    margin-top: -12px;
                }  
            }
        }

        
    }

    .main-title{
        padding-bottom: clamp(0px, 2.4038vw, 40px);

        @include mobile{
            padding-bottom: 0;
        }
    }

    &--mode{
        padding-bottom: clamp(48px, 9.6154vw, 160px);
        .about-section__box{
            align-items: flex-start;
            grid-gap: clamp(20px, 3.2452vw, 54px);
        }

        .main-text{
            &:nth-child(2){
                    margin-top: 0;
            }
        }
    }
}