.first-section{
    position: relative;
    padding: clamp(48px, 9.6154vw, 160px) 0 clamp(48px, 9.6154vw, 160px);
    overflow: hidden;

    &::before, &::after{
        position: absolute;
        content: '';
        width: 100vw;
        height: clamp(50px, 14.0625vw, 234px);
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
    }

    &::before{
        bottom: -2%;
        background: var(--gr-c);

        @include mobile{
            display: none;
        }
    }

    &::after{
        top: 0;
        transform: translate(-50%, -50%);
        background: var(--gr-d);

        @include small-tablet{
            top: -2%;
        }
    }

    &__box{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr clamp(294px, 42.488vw, 707px);
        grid-gap: clamp(20px, 7.1514vw, 119px);

        @include small-tablet{
            grid-template-columns: 1fr .9fr;
        }

        @include mobile{
            grid-template-columns: 1fr;
        }
    }

    &__image{
        position: relative;
        
        img,picture{
            max-height: 530px;
            object-fit: contain;
        }
        

        &-bg{
            width: Min(63.7019vw, 1060px);
            height: Min(57.3317vw, 954px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: -1;
            img,picture{
                max-height: 100%;
                width: 100%;
                height: auto;
                @include small-tablet{
                    display: none;
                }
            }
        }

        @include ios{
            order: 3;
        }

        @include mobile{
            margin: 4px 0 32px;
        }
    }

    &__bg{
        pointer-events: none;
       position: absolute;
       left: 0;
       right: 0;
       top: -8%;
       bottom: 0;
       z-index: -1;

       img,picture{
        width: 100%;
        height: 100%;
       }

       @include mobile{
        max-height: Min(100.694vw, 580px);
        top: -3%;
      
    }
    }

    @include mobile{
        padding: clamp(20px, 14.419vw, 62px) 0 clamp(48px, 9.6154vw, 160px);
    }

    .main-button{
        @include ios{
            order: 4;
        }
    }


    &--mode{
        padding: clamp(20px, 5.4087vw, 90px) 0 clamp(20px, 4.8077vw, 80px);
        .main-text{
            grid-gap: clamp(20px, 2.4038vw, 40px);

            p{
                font-size: clamp(11px, 1.5024vw, 25px);
            }
        }
        .first-section{
            &__box{
                grid-template-columns: 1fr;
                justify-items: center;
                grid-gap: clamp(20px, 4.8077vw, 80px);
            }


            &__bg{
                @include mobile{
                    max-height: 358px;
                    top: -2%;
                }
            }
           
        }

        &::after{
            transform: translate(-50%, -64%);
        }
    }
}