.logo{
  width: clamp(68px, 12.3197vw, 205px);
  height: clamp(35px, 6.4904vw, 108px);
}

.yellow-text{
  color: rgba(var(--cl-d),1.0);
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
}

.main-title{
  color: rgba(var(--cl-c),1.0);
  font-family: var(--font-family);
  font-size: clamp(24px, 4.3269vw, 72px);
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  text-transform: uppercase;

  &--yellow{
    color: rgba(var(--cl-d),1.0);
  }

  i,b{
    font-style: inherit;
    font-weight: inherit;
  }

  @include mobile{
    font-size: clamp(24px, 5.556vw, 32px);
  }
}

.border-text{
  max-height: clamp(14px, 2.0433vw, 34px);
  padding: 2px clamp(7px, .7813vw, 13px);
  margin-left: 10px;
  position: relative;
  bottom: 9px;
  width: fit-content;
  border-radius: 16px;
  border: 1px solid var(--br-g);
  background: var(--gr-e);
  backdrop-filter: blur(37px);
  text-transform: none;
  gap: 10px;
  color: rgba(var(--cl-g),1.0);
  text-align: center;
  font-family: var(--font-family);
  font-size: clamp(8.692px, 1.2019vw, 20px);
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal !important;
}

.main-link{
  color: rgba(var(--cl-i),1.0);
  font-family: var(--font-family);
  font-size: clamp(11px, 1.3221vw, 22px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-decoration-line: underline;
  transition: all .4s;

  &:hover{
    text-decoration: none;
  }
}

.main-text{
  display: flex;
  flex-direction: column;
  grid-gap: clamp(14px, 1.9231vw, 32px);
  padding-bottom: clamp(32px, 2.4038vw, 40px);
  border-bottom: 3px dashed var(--br-e);
}

.main-subtitle{
  color: rgba(var(--cl-c),1.0);
  font-family: var(--font-family);
  font-size: clamp(14px, 1.863vw, 31px);
  font-style: normal;
  font-weight: 700;
  line-height: 128.571%;
}

.main-list{
  display: flex;
  flex-direction: column;
  &__item{
    font-size: clamp(11px, 1.3221vw, 22px);
    font-family: var(--font-family);
    font-weight: 400;
    color: rgba(var(--cl-e),1.0);
    font-style: normal;
    line-height: 160%;
  }
}

ul:not([class]){
  margin-left: clamp(16px, 1.8029vw, 30px);
  li{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: calc((clamp(16px, 1.8029vw, 30px) - clamp(5px, .4808vw, 8px)) * -1);
      top: 50%;
      transform: translate(-50%, -50%);
      width: clamp(5px, .4808vw, 8px);
      height: clamp(5px, .4808vw, 8px);
      border-radius: 50%;
      background-color: rgba(var(--cl-i),1.0);
    }
  } 
}